<div class="container-fluid">

    <nav>
        <div class="heading">
            <h1 class="Navigation-Bar"></h4>
        </div>
    
        <ul class="nav-links">
            <li class="home">
                <a href="/">FinEdu</a>
            </li>
    
            <li class="" >
                <a href="#"></a>
            </li>
    
            <li class="">
                <a href="#"></a>
            </li>

            <li class="">
                <a href="#"></a>
            </li>
    
        </ul>
    </nav>
    
</div>
